// Api host
HOST=https://api.maps4news.com

// Default perPage value for listings
PER_PAGE=12

// Window options for the ImplicitFlowPopup
WINDOW_OPTIONS=width=800, height=600

// Cache
CACHE_SHARED=false
CACHE_SHARED_AUTO_UPDATE=true
CACHE_SECONDS=1800
CACHE_DEREFERENCE_OUTPUT=false